
#future {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color:black;
}

#future video {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#future_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 9999;
	background-color:rgba(245, 222, 179, 0);
	padding: 1vw 3vw;
	border-radius: 30px;
}
#future_text h1 {
	color:wheat;
}

#future_text button {
	padding: .8vw 1.7vw;
	font-size: .5vw;
	font-weight: 900;
	margin-top: 10px;
	border-radius: 100px;
	background-color: #FFFFFF;
	border: 1px solid #333;
	color: #333;
}
#motive {
	margin-top: 7vw;
	display: flex;
	justify-content: space-between;
	padding: 3vw 10vw;
      font-family: Orbitron;
}

#motive p {
	line-height: 1.7;
	letter-spacing: -.009vw;
	position: relative;
	right: 0;
	font-size: 1.6vw;
	text-align: right;
	width: 85%;
	color: wheat;
}

#motive span {
	display: inline-block;
	background-color: red;
	border-radius: 100px;
	margin: 0 13px;
	margin-bottom: -12.5px;
}

#onespan {
	width: 80px;
	height: 50px;
	background-image: url('/assets/2024_land_rover_defender_130_outbound_1_2560x1440.jpg');
	background-size: cover;
	background-position: 0% 60%;
}

#twospan {
	width: 130px;
	height: 50px;
	background-image: url('/assets/2024_range_rover_evoque_16_2560x1440.jpg');
	background-size: cover;
	background-position: 0% 48%;
}

#threespan {
	width: 80px;
	height: 50px;
	background-image: url('/assets/2022_range_rover_2_2560x1440.jpg');
	background-size: cover;
	background-position: 0% 60%;
}
